<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false"
    >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a class="v" mat-list-item (click)="drawer.close()" routerLink="/">
            <img class="logo" src="../../../assets/fire.logo.png" alt="Fire">
            Home
        </a>
        <a class="v" mat-list-item (click)="drawer.close()" routerLink="/login">
            <img class="logo" src="../../../assets/login.logo.png" alt="Login">
            Login
        </a>
        <a class="v" mat-list-item (click)="drawer.close()" routerLink="/kanban">
            <img class="logo" src="../../../assets/kanban-demo.logo.png" alt="kanban-demo">
            Kanban Demo
        </a>
        <a class="v" mat-list-item (click)="drawer.close()" routerLink="/customers">
            <img class="logo" src="../../../assets/ssr-demo.logo.png" alt="ssr-demo">
            SSR Demo
        </a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="logo" routerLink="/">
                <img class="logo" src="../../../assets/fire.logo.png" alt="Home">
                Kanban Board
            </span>

            <span class="fill-space"></span>
            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/kanban">
                    <img class="logo" src="../../../assets/login.logo.png" alt="Login">
                    Kanban Demo
                </a>
                <a mat-button routerLink="/customers">
                    <img class="logo" src="../../../assets/kanban-demo.logo.png" alt="kanban-demo">
                    SSR Demo
                </a>

                <a mat-button routerLink="/login">
                    <img class="logo" src="../../../assets/ssr-demo.logo.png" alt="ssr-demo">
                    Login
                </a>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a class="v" mat-menu-item href="https://github.com/mrin2810">
                    <img class="logo" src="../../../assets/github.logo.png" alt="github">
                    <span>Checkout Github</span>
                </a>
                <a class="v" mat-menu-item href="https://www.linkedin.com/login">
                    <img class="logo" src="../../../assets/linkedin.logo.png" alt="linkedin">
                    <span>Checkout LinkedIn</span>
                </a>
                <a class="v" mat-menu-item href="https://www.youtube.com/">
                   <img class="logo" src="../../../assets/youtube.logo.png" alt="youtube">
                    <span>Checkout Youtube</span>
                </a>
            </mat-menu>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>